body{
    align-content: center;
    padding-left: 40%
}
.calculator{
    background-color: aqua;
    width: 22%;
    text-align: center;
    border-radius: 10px;
    border-color: black;
}
h1{
    display: inline-block;
}
