body{
    padding-left:25%
}
.card {
    width: 600px;
    height: 800px;
    padding: 30px 0px 0px 40px;
    background-color: rgb(252, 240, 240);
    
}

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;
    margin: 20px;
    border: 0.1px solid lightgray;

}

.left1 {
    background-color: rgb(90, 216, 109);
    width: 300px;
    height: 300px;
}

.left1>img {
    height: 100%;
    position: relative;
    top: -40px;
    left: -20px;
}

.right1 {
    padding-left: 40px;
}


.row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin: 20px;
    border: 0.1px solid lightgray;

}

.left2 {

    background-color: rgb(87, 221, 107);
    width: 285px;
    height: 300px;
}

.left2>img {
    height: 90%;
    width: 350px;
    position: relative;
    left: -50px;
}

.right2 {
    padding-left: 40px;
}


button {
    border-radius: 18px;
    color: white;
    background-color: rgb(87, 221, 107);
    margin-bottom: 20px;
    padding: 8px;
}